<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="none">
    <ion-item *ngFor="let item of items; index as i"
              (click)="pushDetail()"
              [style.--animation-duration.ms]="animationDuration"
              [style.--animation-delay.ms]="animationDelay"
              [style.--animation-offset]="itemAnimationData && itemAnimationData[i].offset || 0"
              [ngClass]="{'pop-out': itemAnimationData && itemAnimationData[i].visible}">
      <ion-label>{{item}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
