ion-content ion-toolbar {
  --background: translucent;
}

.pop-out {
  animation: popOut var(--animation-duration) calc(var(--animation-offset) * var(--animation-delay)) both ease-in;
}

@keyframes popOut {
  0% {
    opacity: 1;
    transform: none;
  }

  100% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }
}
